@import "./variables/vars";
* {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

@media screen and (max-width:500px) {

    a {
        left: 45%;
        margin-top: 20%;
    }

}

.img-fondo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.div-h1 {
    width: $ancho;
    position: absolute;
    top: 4.5em;
    right: 0;
    color: $text-color;
    text-align: center;
    justify-content: center;
    display: flex;
    z-index: 2;
    font-size: 3em;
    font-family: 'Cormorant Garamond', serif;
    animation:map-get($map: $animacion, $key:animation );
    animation-duration: 1s;
    
}

@mixin sizes ($bg-color, $ancho) {
    background-color: $bg-color;
    width: $ancho;
}


.div {
@include sizes(black,100% );
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .55;
}
p {
    @extend .div-h1;
    width: $ancho;
    color: $text-color;
    font-size: 2.3em;
    top: 9em;
    font-family: 'Montserrat', sans-serif;
    animation-duration: 1.3s;
}

a {
    color: #ffff;
    font-size: 2.2em;
    z-index: 4;
    top: 12em;
    right: 43.5%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    animation: backInDown;
    animation-duration: 1.5s;
}

a:hover {
    transform: translateY(-15px);
    transition: .5s;
}
a::before,
a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffff;
    transform: scaleX(0);
    transition: transform .5s;
}


a::before {
    top: -3px;
    transform-origin: left;

}

a::after {
    bottom: -3px;
    transform-origin: right;
}

a:hover::before,
a:hover::after {
    transform: scaleX(1);
}