* {
  padding: 0;
  margin: 0;
  border-radius: 0; }

body {
  background-color: #fefbfb; }

header {
  width: 100%;
  height: 100vh;
  position: relative; }

.div-h1, p {
  width: 100%;
  position: absolute;
  top: 4.5em;
  right: 0;
  color: #4c4b34;
  text-align: center;
  justify-content: center;
  display: flex;
  z-index: 2;
  font-size: 3em;
  font-family: 'Cinzel', serif;
  animation: backInDown;
  animation-duration: 1s; }

p {
  width: 100%;
  font-size: 2.3em;
  top: 9em;
  font-family: 'Roboto', sans-serif;
  animation-duration: 1.3s;
  color: #bfb192; }

a {
  color: #bfb192;
  font-size: 2.2em;
  z-index: 4;
  top: 12em;
  right: 41.55%;
  background-color: #4c4b34;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  animation: backInDown;
  animation-duration: 1.5s; }

a:hover {
  transform: translateY(-15px);
  transition: .5s; }

@media screen and (max-width: 500px) {
  a {
    left: 45%;
    margin-top: 20%; }
  .div-h1, p {
    margin-top: -1em; }
  a {
    width: 50%;
    margin-left: -2.6em; } }
