* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}

img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.div {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .55;
}

.contenedor {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.info {
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    animation: backInLeft;
    animation-duration: 1.3s;
}

h1 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 1.5em;
    padding: .6em;
}

.aside-form {
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    float: right;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    animation: backInRight;
    animation-duration: 1.3s;
}

.form-h2 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

.div-form {
    margin-left: 20%;
    margin-right: 20%;
}



.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin-top: 1em;
    background-color: #171717;
    border-radius: 8px;
}


button {
    width: 90%;
    font-size: 1em;
    margin-right: 5%;
    margin-left: 5%;
    padding: .5em;
    background-color: #171717;
    border-radius: 8px;
}


i {
    font-size: 50px;
    padding-right: 17px;
}


i:hover {

    transform: translateY(-15px);
    transition: .7s;


}


