:root {
    --color-detalles: #4c4b34;
    --color-principal: #bfb192;
    --bg-color: #fefbfb;
    --title-family: 'Cinzel', serif;
    --text-family: 'Roboto', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    list-style: none;


}



body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


h1 {
    padding: 20px 150px;
    color: var(--color-detalles);
    display: flex;
    font-size: 2.5em;
    font-family: var(--title-family);
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {


}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 2.5em;
  
}

@media screen and (max-width: 420px) {


    h1 {
        font-size: 2.4em;
        padding: 20px;
        padding-left: 2em;

    }

}



/*<li class="info-li"><p>Cafe con Leche...............$280</p></li>
<li class="info-li"><p>Americano.......................$310</p></li>
<li class="info-li"><p>Cappuccino......................$340</p></li>
<li class="info-li"><p>Expresso Lungo...............$260</p></li>
<li class="info-li"><p>Macchiato.........................$390</p></li>
<li class="info-li"><p>Flat...................................$350</p></li>
<li class="info-li"><p>Submarino........................$330</p></li>
<li class="info-li"><p>Lagrima............................$290</p></li>*/